<%- include ('partials/header') -%> 

  <div class="container">
    <header class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Welcome to Blend!</h1>
        <p class="lead">View our hand-picked campgrounds from all over the world</p>
        <p>
          <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>
        </p>
      </div>
    </header>

    <div class="row">
      <% campgrounds.forEach((campground)=> { %>
        <div class="col-md-3 col-sm-6">
          <div class="card">
            <img class="card-img-top img-thumbnail" src="<%= campground.image %> " alt="Campground image">
            <div class="card-body">
              <h4 class="card-text"><%= campground.name %></h4>
            </div>  
            
          </div>
          
          
        </div>
      <% }); %> 
    </div>
  </div>


  

  

  


<%- include ('partials/footer') -%> 