<%- include ('partials/header') -%> 

<h1>Create a New Campground</h1>

<form action="/campgrounds" method="post">
  <input type="text" name="name" placeholder="Campground name">
  <input type="text" name="image" placeholder="Image Url">
  <button>Submit!</button>
</form>

<p><a href="/campgrounds">Go Back</a></p>

<%- include ('partials/footer') -%> 
